<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <h1>Profile Page</h1>
    <div>Name : {{name}}</div>
    

    {{#each people}}

    <div class="card">
  <h5 class="card-header">{{this.email}}</h5>
  <div class="card-body">
    
    <p class="card-text">{{this.body}}</p>
    <button class="btn btn-primary">Like</button><span>{{this.totalLikes}}</span>
    <button class="btn btn-secondary">Comment</button>
  </div>
   </div>

{{!-- 
  <li>User->{{this.email}}<br>
  {{this.body}}<br>
      likes->{{this.totalLikes}}<br>
      
  </li> --}}

  {{/each}}
</body>
</html>